.footer
	.footer__wrapper
		.footer__address
			strong Swift Navigation
			| <br> 2148 3rd Street
			| <br> San Francisco CA 94107
		ul.footer__social-links
			li.footer__social-link: a(data-social="twitter" href="#")
			li.footer__social-link: a(data-social="linkedin" href="#")
			li.footer__social-link: a(data-social="github" href="#")
		.footer__links
			.footer__link: a(href="#") Products
			.footer__link: a(href="#") Solutions
			.footer__link: a(href="#") Store
			.footer__link: a(href="#") About
			.footer__link: a(href="#") Join Us
			.footer__link: a(href="#") Support
			.footer__link: a(href="#") Contact
			.footer__link: a(href="#") Forum
			.footer__link: a(href="#") Documentation
			.footer__link: a(href="#") My Account
			.footer__link: a(href="#") Register
			.footer__link: a(href="#") Login
		.footer__legal 
			| &copy; 2016 Swift Navigation, Inc. All rights reserved  &nbsp;|&nbsp; <a href="#">Terms and Conditions</a> &nbsp;|&nbsp; <a href="#">Privacy Policy</a> &nbsp;|&nbsp; <a href="#">Sitemap</a> 

// Notes: 
// - Dont worry about ordering the footer links with php, the javascript will handle any number of links and automatically sort them in to 4 columns. 
