.double-cta
  .double-cta__wrapper
    .double-cta__left
      .double-cta__image(style="background-image: url(/images/join-us-2.jpg)")
      .double-cta__content
        h4.double-cta__header Find Yourself Here
        p.double-cta__text Join us and help define the future.
        a.anim-button(href="#") Join Us
    .double-cta__right
      .double-cta__image(style="background-image: url(/images/news.jpg)")
      .double-cta__content
        h4.double-cta__header We're Making News
        p.double-cta__text See what others are saying about us.
        a.anim-button(href="#") Read More
