.column-blurbs
	.column-blurbs__wrapper
		ul.column-blurbs__items
			li.column-blurbs__item
				img.column-blurbs__icon(src="/images/icon_centimeter-accuracy.png")
				.column-blurbs__content
					h4.column-blurbs__header A New Level of Accuracy
					p.column-blurbs__text 
						| We provide centimeter-accurate GPS location for autonomous vehicles and devices. 
						| Our solutions are based on real-time kinematics (RTK) technology that is 100 times 
						| more accurate than traditional GPS.
			li.column-blurbs__item
				img.column-blurbs__icon(src="/images/icon_affordability-and-flexibility.png")
				.column-blurbs__content
					h4.column-blurbs__header Unprecedented Affordability and Flexibility
					p.column-blurbs__text 
						| Our RTK positioning technology resides in software, which enables us to use commodity hardware components 
						| and deliver high- precision navigation capabilities at a fraction of the cost of traditional GPS systems. 
						| And because our RTK algorithms are software-based, Swift solutions can be frequently upgraded and easily customized.
			li.column-blurbs__item
				img.column-blurbs__icon(src="/images/icon_fast-time-to-results.png")
				.column-blurbs__content
					h4.column-blurbs__header Fast Time to Results
					p.column-blurbs__text 
						| Open source software allows our customers to integrate Swift solutions quickly and easily into their projects. 
						| The Swift Binary Protocol (SBP) communicates with Swift devices and is accompanied by the open SBP specification; 
						| a compiler; and APIs and client libraries in languages including Python, C, Haskell and Java. We participate in an 
						| open ecosystem, publishing our documentation, prices and support resources online.

// Notes:
// - This will handle any number of items, any items that are not divisible by 3 will be centered underneath automatically. 
// - Not reccomended to allow rich text in these feilds. Should be limited to the header and text classes defined here. (It won't break but it will probably look terrible) 
// - You can use "column-blurbs--force-two-columns" class to force the columns into 2 columns instead of 3 (needed on support page for example) 
