.image-grid.image-grid--fade-images
	.image-grid__wrapper
		.image-grid__items
			.image-grid__item
				a.image-grid__link(href="#")
				.image-grid__item-image(style="background-image: url(/images/uav.jpg)")
				.image-grid__item-text Swift for UAV
			.image-grid__item
				a.image-grid__link(href="#")
				.image-grid__item-image(style="background-image: url(/images/automotive-1.jpg)")
				.image-grid__item-text Swift for Automotive
			.image-grid__item
				a.image-grid__link(href="#")
				.image-grid__item-image(style="background-image: url(/images/robotics.jpg)")
				.image-grid__item-text Swift for Robotics
			.image-grid__item
				a.image-grid__link(href="#")
				.image-grid__item-image(style="background-image: url(/images/agriculture-1.jpg)")
				.image-grid__item-text Swift for Agriculture
			.image-grid__item
				a.image-grid__link(href="#")
				.image-grid__item-image(style="background-image: url(/images/survey-1.jpg)")
				.image-grid__item-text Swift for Survey

// Notes:
// - White text is generally hard to read over these images, so I have applied a modifier class ".image-grid--fade-images" to the base element. 
// - This darkens the images slightly for readablity. 
// - Feel free to remove this modifier class if you dont want to darken the images. 
// - I have also built in an ".image-grid--fade-image" class (singular) in case you want to fade out any single image. (Apply to individual 'image-grid__item-image' elements as needed.) 
