/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
.bio-grid {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }
  @media (max-width: 1100px) {
    .bio-grid {
      padding-left: 40px;
      padding-right: 40px; } }
  @media (max-width: 419px) {
    .bio-grid {
      padding-left: 20px;
      padding-right: 20px; } }
  @media (max-width: 619px) {
    .bio-grid {
      padding-top: 10px;
      padding-bottom: 10px; } }

.bio-grid__wrapper {
  width: 100%;
  max-width: 1060px;
  margin: 0 auto; }

.bio-grid__items {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center; }

.bio-grid__item {
  display: inline-block;
  position: relative;
  width: 33%;
  padding: 0 20px;
  margin-bottom: 40px;
  vertical-align: top;
  text-align: left; }
  @media (max-width: 1100px) {
    .bio-grid__item {
      width: 49.5%; } }
  @media (max-width: 767px) {
    .bio-grid__item {
      width: 100%; } }
  @media (max-width: 619px) {
    .bio-grid__item {
      padding: 0 10px; } }

.bio-grid__face-card {
  position: relative;
  display: block;
  height: 160px;
  width: 100%;
  background-color: #333E47;
  background-image: -webkit-linear-gradient(top, #333E47, #7f8080);
  background-image: linear-gradient(to bottom,#333E47, #7f8080); }
  @media (max-width: 619px) {
    .bio-grid__face-card {
      height: 120px; } }

.bio-grid__image {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 160px;
  width: 160px;
  background: #333E47 center no-repeat;
  background-size: cover; }
  @media (max-width: 619px) {
    .bio-grid__image {
      height: 120px;
      width: 120px; } }

.bio-grid__card-content {
  display: block;
  padding: 20px 10px 20px 175px;
  color: #FFF; }
  @media (max-width: 619px) {
    .bio-grid__card-content {
      padding-left: 135px; } }

.bio-grid__name {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 15px; }
  @media (max-width: 619px) {
    .bio-grid__name {
      font-size: 16px;
      margin-bottom: 8px; } }

.bio-grid__position {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4; }

.bio-grid__text {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.bio-grid__item {
  -webkit-transition: all 900ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 900ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 900ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transform: translate3d(0, 30px, 0);
  -moz-transform: translate3d(0, 30px, 0);
  -ms-transform: translate3d(0, 30px, 0);
  -o-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
  opacity: 0; }
  .bio-grid__item:nth-child(2n) {
    -webkit-transform: translate3d(0, -30px, 0);
    -moz-transform: translate3d(0, -30px, 0);
    -ms-transform: translate3d(0, -30px, 0);
    -o-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    transition-delay: 50ms; }
  .js-in-view .bio-grid__item {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1; }
