.location-map
	.location-map__wrapper
		.location-map__extra-container
			h3 Swift Navigation
			p.nudge-up-20
				| <br> 2148 3rd Street
				| <br> San Francisco CA 94107
			br
			h5 Press Inquiries
			a(href="mailto:press@swiftnav.com") press@swiftnav.com
			br
			br
			br
			a.anim-button.anim-button--flush-left(href="#") Explore Job Openings
		.location-map__map-container
			img.location-map__map(src="/images/location-map.jpg")
			p.location-map__attr Map tiles by <a href="#">Stamen Design</a>, under CC BY 3.0. Data by <a href="#">OpenStreetMap</a>, under <a href="#">ODbL</a>.

// Notes: 
// -  'location-map--top-rule' modifier class is responsible for the horizontal rule above the maps. 
// -  Feel free to remove it in case the map shows up somewhere the separator isnt needed. 
