.quote-block
	.quote-block__wrapper(style="background-image:url(/images/qoute-image.jpg)")
		.quote-block__container
			.quote-block__content
				p.quote-block__text
					| Swift’s centimeter-accurate RTK technology is an exciting development 
					| for precision agriculture. By bringing together the right new technologies 
					| with optimal farming practices, step-function increases in farm 
					| productivity and the preservation of soil quality are possible.
				span.quote-block__name Clay Mitchell
				span.quote-block__relation Fall Line Capital

// Notes:
// - You can add class 'quote--right-align' to base element like class="quote-block quote-block--right-align" to modify the component to right aligning layout 
