nav.navigation
	.navigation__wrapper
		.navigation__mobile-toggle
			div
			div
			div
		h1.navigation__logo 
			| Swift Navigation
			a(href="/").navigation__logo-link
		ul.navigation__ext-links
			li.navigation__ext-link: a(href="#") My Account
			li.navigation__ext-link: a(href="#") Register
			li.navigation__ext-link: a(href="#") Login
		ul.navigation__pri-links
			li.navigation__pri-link
				a(href="#") Products
				ul.navigation__sec-links
					li.navigation__sec-link: a(href="#") Piksi
					li.navigation__sec-link: a(href="#") Platform
			li.navigation__pri-link
				a(href="#") Solutions
				ul.navigation__sec-links
					li.navigation__sec-link: a(href="#") UAV
					li.navigation__sec-link: a(href="#") Automotive
					li.navigation__sec-link: a(href="#") Robotics
					li.navigation__sec-link: a(href="#") Agriculture
					li.navigation__sec-link: a(href="#") Survey & Control
			li.navigation__pri-link
				a(href="#") Store
			li.navigation__pri-link
				a(href="#") About
				ul.navigation__sec-links
					li.navigation__sec-link: a(href="#") Leadership
					li.navigation__sec-link: a(href="#") Team
					li.navigation__sec-link: a(href="#") Investors
					li.navigation__sec-link: a(href="#") News
					li.navigation__sec-link: a(href="#") Contact Us
			li.navigation__pri-link
				a(href="#") Join Us
			li.navigation__pri-link
				a(href="#") Support
			li.navigation__pri-link
				a(href="#") Contact
			li.navigation__seperate
			li.navigation__pri-link: a(data-social="twitter" href="#")
			li.navigation__pri-link: a(data-social="linkedin" href="#")
			li.navigation__pri-link: a(data-social="github" href="#")
			
// Notes: 
// - Use "active" class on the pri-link you want to be underlined 
