@import '../../sass/module-includes';
.double-column-text{ width: 100%; overflow:hidden; margin-bottom:20px; @include module-spacing;}
.double-column-text__wrapper{ width: 100%; max-width: $max-width; margin: 0 auto; @include responsive-bumpers; @include clearfix;}
.double-column-text__left-column,
.double-column-text__right-column{ display: block; width:50%; float:left;
  > *:first-child{margin-top:0;}
  @include responsive(sm){ float:none; width:100%; }
}
.double-column-text__left-column{ padding-right:20px;
  @include responsive(sm){ padding:0; }
}
.double-column-text__right-column{ padding-left:20px;
  @include responsive(sm){ padding:0; }
}

//effects:
.double-column-text__left-column,
.double-column-text__right-column{ @include transition(all 800ms $ease-out-quint); opacity: 0;
  &.double-column-text__left-column{@include transform(translate3d(0,60px,0));}
  &.double-column-text__right-column{@include transform(translate3d(60px,0,0));}
  .js-in-view &{ @include transform(translate3d(0,0,0)); opacity: 1; }
}
