@import '../../sass/module-includes';
.header-and-text{ width:100%; @include responsive-bumpers; @include module-spacing; }
.header-and-text__wrapper{ width:100%; max-width:$max-width; margin:0 auto; padding: 0 100px;
  @include responsive(lg){ padding:60px; }
  @include responsive(md){ padding:20px; }
  @include responsive(sm){ padding:0; }
}
.header-and-text__header{ display: block; margin-top:0; @include font-secondary; font-size:24px; color:$orange; text-align: center; line-height:1.5; }
.header-and-text__text{ display: block; font-size: 18px;  margin-top:20px; text-align: center; @include font-primary; line-height:1.54;
  @include responsive(sm){ padding: 0 20px; }
}

//effects:
.header-and-text__header{ @include transition(all 600ms $ease-out-quint); @include transform(translate3d(0,-20px,0)); opacity: 0;
  .js-in-view &{ @include transform(translate3d(0,0,0)); opacity: 1; }
}
.header-and-text__text{ @include transition(all 800ms $ease-out-quint); @include transform(translate3d(0,20px,0)); opacity: 0;
  .js-in-view &{ @include transform(translate3d(0,0,0)); opacity: 1; }
}
