.slide-hero(data-autoslide="8000")
  .slide-hero__wrapper
    .slide-hero__aspect: .slide-hero__view
      .slide-hero__paddle(data-direction="left")
      .slide-hero__paddle(data-direction="right")
      .slide-hero__paddle(data-direction="down")
      ul.slide-hero__slides
        li.slide-hero__slide(style="background-image: url(/images/home-1.jpg)"): .slide-hero__content
          h2.slide-hero__headline Navigate an Automated Future
          p.slide-hero__blurb Where can next-generation GPS technology take you?
          a.anim-button(href="solutions-landing.html") See what Swift makes possible
        li.slide-hero__slide(style="background-image: url(/images/home-2.jpg)"): .slide-hero__content
          h2.slide-hero__headline Pinpoint Accuracy for <br> Today’s Applications
          p.slide-hero__blurb RTK delivers centimeter-level navigation <br> precision with high reliability.
          a.anim-button(href="solutions-landing.html") See what Swift makes possible
        li.slide-hero__slide(style="background-image: url(/images/home-3.jpg)"): .slide-hero__content
          h2.slide-hero__headline Open the Box, Close the Gap
          p.slide-hero__blurb Swift’s RTK solutions use open software and commodity <br> hardware making integration affordable and simple.
          a.anim-button(href="solutions-landing.html") See what Swift makes possible
          
  
