.team-grid
	.team-grid__wrapper
		ul.team-grid__items
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
			li.team-grid__item
				.team-grid__image-container
					.team-grid__primary-image(style="background-image: url(/images/team-primary.png)")
					.team-grid__secondary-image(style="background-image: url(/images/team-secondary.png)")
				.team-grid__info
					.team-grid__name Joe Bob
					.team-grid__position Sr. Joe Bobber
					
