.single-cta
	.single-cta__wrapper(style="background-image: url(/images/piksi.jpg)")
		.single-cta__container
			.single-cta__content
				h3.single-cta__header ￼Try Piksi Today
				p.single-cta__text
					| Request our evaluation kit. We make it simple to bring your high-precision GPS solution to life. 
					| Visit our online store. One click, and it’s on its way to you.
				.single-cta__action
					a.anim-button(href="#") Learn More
					| &nbsp; Or &nbsp;
					a.anim-button(href="#") Online Store

// Notes:
// - You can add class 'single-cta--left-align' to base element like class="single-cta single-cta--left-align" to modify the component to left aligning layout 
					
			
			
