.store-tiles
	.store-tiles__wrapper
		ul.store-tiles__items
			li.store-tiles__item
				.store-tiles__item-container
					.store-tiles__image(style="background-image: url(/images/rtk-kit-915.jpg)")
					h3.store-tiles__title RTK Kit (915 MHz)
					a.store-tiles__link(href='#')
			li.store-tiles__item
				.store-tiles__item-container
					.store-tiles__image(style="background-image: url(/images/rtk-kit-433.jpg)")
					h3.store-tiles__title RTK Kit (433 MHz)
					a.store-tiles__link(href='#')
			li.store-tiles__item
				.store-tiles__item-container
					.store-tiles__image(style="background-image: url(/images/piksi-module.jpg)")
					h3.store-tiles__title Piksi OEM Module
					a.store-tiles__link(href='#')
			li.store-tiles__item
				.store-tiles__item-container
					.store-tiles__image(style="background-image: url(/images/connector-cable.jpg)")
					h3.store-tiles__title Piksi-Pixhawk Connector Cable
					a.store-tiles__link(href='#')
		.store-tiles__cta
			a.anim-button(href="#") Enter Swift Store
				
