.bio-grid
	.bio-grid__wrapper
		ul.bio-grid__items
			li.bio-grid__item
				.bio-grid__face-card
					.bio-grid__image(style="background-image: url(/images/leadership_fpo-timothy-harris.jpg)")
					.bio-grid__card-content
						span.bio-grid__name Timothy Harris
						span.bio-grid__position Co-Founder & <br>Chief Executive Officer
				p.bio-grid__text 
					| Timothy Harris, co-founder and CEO of Swift Navigation, is focused 
					| on building a world-class organization that will power the next generation 
					| of GPS-enabled robots and autonomous vehicles. A proven leader in the 
					| high-accuracy GPS industry, Tim leads teams that are excited to drive 
					| innovation and challenge each other to achieve visionary change. Prior 
					| to Swift, he worked in supply chain consulting for OR Soft Jaenicke GmbH 
					| in Halle, Germany, and in corporate finance for Emerge Digital Group, 
					| where he oversaw M&A and strategic partnerships for a digital media holding 
					| company. Tim holds a JD degree from Boston University and a BA degree 
					| from the University of California at Berkeley.
			li.bio-grid__item
				.bio-grid__face-card
					.bio-grid__image(style="background-image: url(/images/leadership_fpo-fergus-noble.jpg)")
					.bio-grid__card-content
						span.bio-grid__name Fergus Noble
						span.bio-grid__position Co-Founder & <br>Chief Technical Officer
				p.bio-grid__text 
					| Fergus is co-founder and CTO of Swift Navigation, where he spearheads 
					| futuristic planning and focuses on technology strategy, architecture 
					| and leading the software team. Prior to Swift, he obtained his BA and 
					| MSc degrees in Physics from the University of Cambridge, where he also 
					| worked on GPS for rocketry. Fergus moved from the UK to California to 
					| work for Joby Energy on GPS systems and Flight Software teams for 
					| high-altitude wind turbines until co-founding Swift Navigation in 2012.
			li.bio-grid__item
				.bio-grid__face-card
					.bio-grid__image(style="background-image: url(/images/leadership_fpo-colin-beighley.jpg)")
					.bio-grid__card-content
						span.bio-grid__name Colin Beighley
						span.bio-grid__position Co-Founder & <br>Vice President of Engineering
				p.bio-grid__text 
					| Colin is Vice President of Engineering and co-founder at Swift Navigation, 
					| where he focuses on scaling the engineering organization and heads up the 
					| hardware team. Prior to Swift, he worked on GPS both at Joby Energy and 
					| in projects for his BS degree in Electrical Engineering at the University 
					| of California at Santa Cruz.
			li.bio-grid__item
				.bio-grid__face-card
					.bio-grid__image(style="background-image: url(/images/leadership_fpo-colin-beighley.jpg)")
					.bio-grid__card-content
						span.bio-grid__name Rob Hranac
						span.bio-grid__position Vice President of <br>Business Development
				p.bio-grid__text 
					| Rob Hranac is VP Business Development at Swift. An analytics executive 
					| with experience in software, services and hardware, Rob possesses deep 
					| expertise in the geospatial and transportation sectors. Prior to Swift, 
					| he was Vice President of Analytics at Iteris, where he managed an analytics 
					| group and oversaw business development for an integrated transportation 
					| analytics software platform. Rob has a MS degree in Civil and Environmental 
					| Engineering from the University of California at Berkeley, and a 
					| BS degree in Systems Engineering from Boston University.
			li.bio-grid__item
				.bio-grid__face-card
					.bio-grid__image(style="background-image: url(/images/leadership_fpo-diana-helfrich-schlosser.jpg)")
					.bio-grid__card-content
						span.bio-grid__name Diana Helfrich Schlosser
						span.bio-grid__position Vice President of Marketing
				p.bio-grid__text 
					| With VP Marketing roles at Copper Mountain Networks, BigBand Networks, 
					| SolarCity and Blu Homes—Diana has a winning track record for driving 
					| exceptional revenue growth, building epic brands and growing market share.
					| With more than 20 years of leadership experience in companies of all 
					| sizes and stages of development, she has a passion for identifying 
					| challenges and opportunities to disrupt markets and create great customer 
					| experiences. Diana holds a BA degree from University of California at 
					| Berkeley and a MBA degree from St. Mary’s College.


// Notes:
// - This will handle any number of items, any items that are not divisible by 3 will be centered underneath automatically. 
// - Not reccomended to allow rich text in these fields. Should be limited to the classes defined here. 
