.generic-content
	.generic-content__wrapper
		.generic-content__content
			p some generic content here.

// Notes: 
// - Use This module for any content that doesnt fit into other defined modules. 
// - This module will provide basic standard repsonsive padding, module spacing, and animation hooks. 
