.article-list
	.article-list__wrapper
		ul.article-list__items
			li.article-list__item
				a.article-list__link(href="#")
				.article-list__image(style="background-image: url(/images/news_wall-street-journal.jpg)")
				.article-list__content
					h4.article-list__header Swift Navigation Raises $11 Million to Make GPS More Precise
					// Byline Optional 
					span.article-list__byline December 8, 2015 | Wall Street Journal
					p.article-list__text
						| Swift Navigation Inc. has raised $11 million in Series A funding for 
						| global positioning systems technology that is more accurate. ... 
						| San Francisco-based Swift wants to enable the next generation of drones, 
						| driverless cars and other robotics to navigate the world precisely, 
						| according to Chief Executive and founder Timothy M. Harris.
			li.article-list__item
				a.article-list__link(href="#")
				.article-list__image(style="background-image: url(/images/news_press-release.jpg)")
				.article-list__content
					h4.article-list__header Swift Navigation Raises $11 Million Series-A Round for Next Generation High-Accuracy GPS for Autonomous Vehicles
					// Byline Optional 
					span.article-list__byline December 8, 2015 | Press Release
					p.article-list__text
						| Swift Navigation, a San Francisco-based startup building centimeter-accurate 
						| GPS technology that will power a world of autonomous vehicles, announced 
						| today that it has raised an $11 million series-A round led by Lior Susan 
						| and Pierre Lamond of Eclipse.
			li.article-list__item
				a.article-list__link(href="#")
				.article-list__image(style="background-image: url(/images/news_techcrunch.jpg)")
				.article-list__content
					h4.article-list__header Swift Navigation Raises $2.6 Million For Its Ultra-Precise GPS System
					// Byline Optional 
					span.article-list__byline August 21, 2014 | TechCrunch
					p.article-list__text
						| Swift Navigation hopes to improve on that, with centimeter-accurate GPS technology 
						| that can be used for a much wider range of applications. ... To do so, it’s raised 
						| $2.6 million in funding to get its low-cost GPS modules embedded into a whole bunch of new devices.
			li.article-list__item
				a.article-list__link(href="#")
				.article-list__image(style="background-image: url(/images/news_press-release.jpg)")
				.article-list__content
					h4.article-list__header Swift Navigation Raises $2.6M Seed Round to Bring Centimeter-Accurate GPS to Market
					// Byline Optional 
					span.article-list__byline August 21, 2014 | Press Release
					p.article-list__text
						| Swift Navigation hopes to improve on that, with centimeter-accurate 
						| GPS technology that can be used for a much wider range of applications. 
						| ... To do so, it’s raised $2.6 million in funding to get its low-cost 
						| GPS modules embedded into a whole bunch of new devices.
					
			
