.contact-form
	.contact-form__wrapper
		.contact-form__extra-container
			h3 Technical Questions?
			p Please Review the <a href="#">FAQ</a> and <a href="#">Documentation</a>
			p If your question isn’t answered above, please ask your question in our <a href="#">community forum</a>.
		.contact-form__form-container
			h3 Other Inquiries?
			
			form
				fieldset
					input(name="first" type="text" placeholder="First Name")
					input(name="last" type="text" placeholder="Last Name")
				input(name="company" type="text" placeholder="Company")
				fieldset
					input(name="email" type="email" placeholder="E-mail")
					input(name="phone" type="ph" placeholder="Phone")
				label(for="entity") Entity Type
				.custom-select: select(name="entity")
					option(value="individial") Individual
					option(value="individial") Organization
				label(for="projected") Application
				.custom-select: select(name="entity")
					option(value="academic") Academic Project
					option(value="professional") Professional Project
				label(for="volume") Projected Volume
				.custom-select: select(name="volume")
					option(value="1_10") 1-10
					option(value="10_50") 10-50
					option(value="50_100") 50-100
					option(value="100_1000") 100-1000
					option(value="1000") 1000+
				label(for="question") How Can We Help You?
				textarea(name="question")
				.custom-submit: input(type="submit" value="Submit")
					
