.column-list
	.column-list__wrapper
		h3.column-list__header
			| Survey and control applications span many industries and environments. 
			| From precision surveys to numerous precision control use cases, customers 
			| around the world use Swift RTK solutions for clear-sky:
		ul.column-list__items
			li.column-list__item Building, construction and real estate surveys
			li.column-list__item Industrial inspection 
			li.column-list__item Agricultural surveys 
			li.column-list__item Boundary surveys
			li.column-list__item Soil and topographic surveys 
			li.column-list__item Earth movement detection
			li.column-list__item Landfill mapping
			li.column-list__item Search and rescue
			li.column-list__item Wind turbine measurement
			li.column-list__item Security
			li.column-list__item Special-effects camera tracking for media and sports
			li.column-list__item Follow-me drones for media and sports videos

// Notes: 
// - Dont worry about ordering the list items with php, the javascript will handle any number of items and automatically chunk them correctly into 3 columns.
			
