doctype html
html(lang="en-US")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Module Test
    link(rel='stylesheet', href='css/app.css')
  body
    .page-wrapper
      include ../modules/navigation/navigation.jade
      
      .static-hero
        .static-hero__wrapper(style="background-image: url(/images/generic-hero.jpg)")
          .static-hero__content
            h2.static-hero__headline Privacy Policy
      
      .generic-content
        .generic-content__wrapper
          .generic-content__content
          p Your privacy is important to Swift Navigation, Inc. (“Swift”) This Privacy Policy discloses Swift’s practices with respect to (i) the personal information we gather in connection with your request for information regarding our products and services, (ii) Swift’s public website, including the type of information that we gather, (iii) the way we use information internally; and (iv) our policy regarding sharing your personal information with others.
          p We have implemented these practices for Swift’s website (www.swiftnav.com) and dependent pages (the “Site”). We have instructed our website administrator to include information regarding these privacy practices anywhere on the Swift Site where Personal Information is collected.
          p Additionally, because we use visual mapping services on our website, please be aware that the Google Maps/Earth Terms of Service, including the Google Privacy Policy, at http://www.google.com/help/terms_maps.html also applies.
          p We encourage you to read this Privacy Policy. This policy addresses our privacy practices relating to visitors to the Site and registered users of the Site. For purposes of this Privacy Policy, "Personal Information" is information that you provide to us which personally identifies you, such as your name, company, email, address or billing information, or other data which can be reasonably linked to such information. By submitting Personal Information and other information to the Site, you hereby consent to the collection, use and disclosure of such information as set forth in this Privacy Policy.
          h5 Collecting Personal Information
          p Generally, you may browse the Site without providing any Personal Information. However, we may ask that you provide information, including, without limitation, Personal Information, at various times and locations through the Site. For example, if you decide to register with the Site or purchase from our online store, you will be asked to provide information such as your name, user name, password, and e-mail address. When using forms on the Site to communicate with Swift, you may choose to provide other Personal Information, such as your name, company name, mailing address, home phone number, and email address. We may also ask for your credit card information if you choose to purchase through the Site. We may collect and store any Personal Information you enter through the Site.
          h5 Protecting Personal Information
          p We use commercially reasonable measures to ensure that Personal Information gathered about customers interested in Swift’s products and services is only accessible by appropriate personnel who have a business need for the information. We inform our personnel about the meaning and requirements of this privacy statement. Furthermore, we utilize certain systems, policies and procedures in an effort to maintain the accuracy of customer information and to protect it from loss, misuse, or alteration.
          h5 How We Use Personal Information
          p The information collected by and through this Site may be used by Swift, its divisions, subsidiaries, and affiliates, or other entities that are involved in the operation of this Site for Swift’s purposes. Swift may use the information collected and provided, individually or in an aggregate form, in order to:
          ul
            li contact you about the Site;
            li notify you about important changes to the Site;
            li evaluate products or services Swift could offer to you;
            li monitor or improve use of the Site;
            li monitor compliance with the Terms of Use relating to the Site;
            li compare and otherwise use data entered by users for any purpose including consulting, research and marketing;
            li customize any advertising and content you see on the Site;
            li provide special offers to you from Swift and/or its affiliates; and
            li send you promotional material on behalf of Swift and/or its affiliates.
          p We do not sell Personal Information about you to unrelated companies for their independent use.
          h5 Disclosing Personal Information to Outside Parties
          p Any Personal Information that you provide to us will be used for our purposes only. Your information will not be shared with other individuals or other companies other than as described in this Privacy Policy. In some instances we may need to provide Personal Information to third parties that we use for delivering specific products or services to you (such as support services, shipping or direct mail organizations) or performing services on our behalf. In such cases, our agreements with these third parties do not permit them to engage in further disclosure of your name and delivery address or other Personal Information. Swift may also access and disclose your information in the event of a dispute, in response to legal process or law enforcement inquiries, abuse of our website, or violation of our Terms of Use.
          p Additionally, information about our users, including Personal Information, may be disclosed and otherwise transferred to an acquirer, successor or assignee as part of any merger, acquisition, debt financing, sale of company assets, or other transaction in which Personal Information is transferred to one or more third parties as one of our business assets.
          h5 Domain Name and IP Address
          p We collect the domain names and IP addresses of our visitors for statistical purposes, to measure use, to improve the content or responsiveness of our site or to customize the content or layout of the site for the individual visitor. We do not disclose this information to third parties. We may also aggregate information relating to our visitors’ traffic patterns from the data that we collect and retain concerning the IP addresses and domain names of our visitors, and we may divulge such aggregate information about our users with third parties such as our business partners, distributors, and service and support providers. You may visit our website anonymously if you wish, by using appropriate software or web services available from or through third parties.
          h5 Log Files
          p We maintain a log file of all actions that are initiated or facilitated using our website, to capture, record and store data concerning the transaction. Access to this data is restricted to those who administer our network and public website, except that we may use and disclose this information to third parties in connection with a dispute, in response to legal process or law enforcement inquiries, abuse of our website, or violation of our Terms of Use.
          h5 Email Addresses
          p You should know that e-mail is not necessarily secure against all forms of interception. If your communication includes sensitive information about you and you would prefer not to transmit this information in this fashion, please contact us by mail or telephone rather than e-mail.
          p We collect e-mail addresses that are: volunteered by the visitor; through e-mail messages addressed to our company or its employees; through visitor responses via the “contact us” portion of the site; or e-mail marketing destination web pages and public events. We use e-mail addresses for marketing purposes and to inform those interested in our products about events, products, services or other items of interest. You may opt-out of receiving promotional or marketing e-mails at any time by notifying us as a reply to any unwanted e-mail, contacting us at  webmaster@swiftnav.com. Requests to unsubscribe from Swift e-mails may take 10 business days to process.
          p This opt-out procedure will not be available for administrative messages such as e-mails that are necessary to provide confirmation of a completed transaction (such as a purchase, service request or change in the visitor’s user profile) or e-mails that confirm a visitor’s status as a registered user of the Swift site.
          h5 Other Personal Information
          p We may use a mailing address or phone number that a visitor provides for a variety of Swift-related reasons. We may send periodic mailings to visitors or make telephone calls to inform those visitors who have provided a mailing address or telephone number of new products, services or events. If you do not wish to receive such calls or mailings, you may request to be removed from our mail and telephone contact list by contacting Swift at  webmaster@swiftnav.com.
          h5 Referral Services
          p We may offer functionality on our website that allows you to tell a friend about our services. If you choose to use our invitation service to tell a friend about our services, we will ask you for information needed to send the invitation, such as your friend’s email address. We will send your friend an email message inviting him or her to visit or try our services. By providing email addresses or any other contact information of third parties to us, you represent and warrant that you have the right to do so, and you acknowledge and agree and that such information may be used for this purpose. We store this information to send the email invitation, to credit for referrals, and to track the success of our referral program. Your friend may contact us at  webmaster@swiftnav.com to request that we remove his or her email address from our database.
          h5 Cookies
          p A cookie is an element of data that a website can send to your browser, which may then be stored on your system. You can set your browser to notify you when you receive a cookie, giving you the chance to decide whether to accept it. Swift uses one type of cookie to maintain your login information for as long as you are using one of our website. No Personal Information is stored in this cookie and the cookie is deleted from your computer when you leave the website. Our second cookie type simply identifies you as you move throughout our website, providing faster, personalized access to view various site pages.
          h5 Data Security
          p We safeguard the security of the data you send us with certain physical, electronic and managerial procedures. We take commercially reasonable precautions to protect against misuse, theft, loss, unauthorized access, disclosure, alteration or destruction of your Personal Information. While we strive to protect your Personal Information, we cannot ensure the security of the information you transmit to us, and so we urge you to take every precaution to protect your personal data when you are on the Internet. We suggest that you change your passwords often, that your passwords include a combination of letters and numbers, and that you make certain that you are using a secure browser. Products and services are available which can help give you privacy protection while navigating the Web.
          h5 Data Forwarding
          p We maintain your Personal Information on servers and computers located in the United States. We do not forward your Personal Information outside the United States. Our website is hosted in the United States and generally is intended for North American visitors. If you visit from the European Union or other regions with laws governing data collection and use that may differ from United States law, please be aware that you are transferring personal information to the United States. The United States does not have the same data protection laws as the European Union and other jurisdictions. By providing Personal Information to us, you consent to the transfer of it to the United States and the use of it in accordance with this Privacy Policy and applicable United States law.
          h5 Children’s Privacy
          p We do not structure our website to attract children. Accordingly, we do not knowingly or intentionally collect Personal Information from anyone under 13 years of age. If we learn that we have collected Personal Information from a child under the age of 13 on our website, we will delete that information as quickly as possible. If you believe that we may have collected any such Personal Information on our website, please notify us at  webmaster@swiftnav.com.
          h5 Third Party Sites
          p Our website may contain links to other third-party sites. When you click on one of these links you are visiting a website operated by someone other than Swift, and the operator of that website may have a different privacy policy. Swift is not responsible for their individual privacy practices. We encourage you to investigate the privacy policies of these third-party operators.
          h5 Future Changes
          p By using our website, you consent to the collection and use of your information as we have outlined in this Privacy Policy and in our Terms of Use. Swift may decide to change this Privacy Policy from time to time. When we do, we will post those changes on this page so that you are always aware of the information we collect, how we use it, and under what circumstances we disclose it. Any such change, update or modification will be effective immediately upon posting on the Site. If at any point Swift decides to use Personal Information in a manner different from that stated at the time it was collected, we may notify you by way of an e-mail or some other means. Your continued use of the Site shall constitute your acceptance of such revised Privacy Policy. Since this Privacy Policy may change from time to time, you should review it periodically before you provide any additional Personal Information anywhere on the Site.
          h5 Comments and Questions
          p We welcome comments and questions regarding this Privacy Policy. Any such Questions should be directed via e-mail to webmaster@swiftnav.com. Additionally you may make your request by writing to Swift Navigation, Inc. at 2148 3rd Street, San Francisco, CA 94107
      
      include ../modules/footer/footer.jade
    
      script(src="js/app.js")
