doctype html
html(lang="en-US")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Module Test
    link(rel='stylesheet', href='css/app.css')
  body
    .page-wrapper
      include ../modules/navigation/navigation.jade

      .static-hero
        .static-hero__wrapper(style="background-image: url(/images/store.jpg)")
          .static-hero__content
            h2.static-hero__headline Launch Your Next Project
      
      .header-and-text
        .header-and-text__wrapper
          h3.header-and-text__header Visit our online store. Get a set of GPS receivers you can easily integrate into your application. Our Evaluation Kit includes everything you need for an RTK setup.

      include ../modules/store-tiles/store-tiles.jade
      
      include ../modules/footer/footer.jade
    
      script(src="js/app.js")
